body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input,
textarea {
  outline: none;
}
