body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input,
textarea {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E1E1E1;
}

main {
  max-width: 620px;
  margin: 0 auto;
  padding: 30px 5px;
}

button {
  cursor: pointer;
}

header {
  background-color: #4A90E2;
}

nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}
nav ul .nav-item {
  width: 33.33%;
  max-width: 160px;
  padding: 25px 0;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #00408B;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  nav ul .nav-item {
    font-weight: 400;
    font-size: 24px;
  }
}
nav ul .nav-item.active {
  color: #ffffff;
  box-shadow: inset 0 -5px #00408B;
}

.add-todo {
  width: 100%;
  height: 65px;
  font-size: 24px;
  padding: 0 30px;
  text-align: left;
  color: #C8C8C8;
  background-color: #ffffff;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
  margin-bottom: 20px;
}

.edit-area {
  border-radius: 5px;
  overflow: hidden;
}

.edit-area.new-todo-edit-area {
  display: none;
  margin-bottom: 20px;
}
.edit-area.new-todo-edit-area .card {
  display: block;
}
.edit-area.new-todo-edit-area .todo-bar:hover {
  cursor: auto;
}

.edit-area.new-todo-edit-area.active {
  display: block;
}
.edit-area.new-todo-edit-area.active .card {
  animation: open-edit-area 0.01s forwards;
}

.card {
  display: none;
  height: 0;
}

.card.active {
  display: block;
  animation: open-edit-area 0.01s forwards;
}

.card-footer {
  display: flex;
}
.card-footer button {
  flex: 0 0 50%;
  height: 60px;
  font-size: 20px;
  border: none;
}
.card-footer button i {
  margin-right: 15px;
}
.card-footer .button-cancelAdd,
.card-footer .button-cancel {
  color: #D0021B;
  background-color: #ffffff;
}
.card-footer .button-cancelAdd:hover,
.card-footer .button-cancel:hover {
  background-color: #FCFCFC;
}
.card-footer .button-confirmAdd,
.card-footer .button-confirm {
  color: #ffffff;
  background-color: #4A90E2;
}
.card-footer .button-confirmAdd:hover,
.card-footer .button-confirm:hover {
  background-color: #5197E7;
}

.todo-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 25px;
  margin-top: 5px;
  background-color: #F2F2F2;
  border-radius: 5px;
}
.todo-bar:hover {
  cursor: move;
}
.todo-bar:hover .hover-dots {
  opacity: 1;
}
.todo-bar .hover-dots {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  left: 5px;
  transition-duration: 0.3s;
}
.todo-bar .hover-dots span {
  line-height: 10px;
  color: #C8C8C8;
}
.todo-bar label {
  display: flex;
  flex: 0.8;
  align-items: center;
  margin-left: 10px;
}
.todo-bar label .checkbox {
  zoom: 210%;
  border: none;
  margin: 0;
}
.todo-bar label .checkbox:checked ~ input {
  color: #757575;
  text-decoration: line-through;
}
.todo-bar label .todo-name {
  font-size: 20px;
  width: 100%;
  background-color: #F2F2F2;
  border: none;
}
.todo-bar label .todo-name::placeholder {
  color: #000000;
  font-weight: 500;
}
.todo-bar label .todo-name:focus::placeholder {
  font-size: 0;
}
.todo-bar label .todo-name.active {
  background-color: #FFF2DC;
}
.todo-bar .hint-icons {
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
  color: #757575;
}
.todo-bar .hint-icons i:not(:first-of-type) {
  margin-left: 10px;
}
.todo-bar .hint-icons span {
  margin-left: 5px;
}

.new-todo .hint-icons {
  display: none;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  position: relative;
}
.icon-wrapper .fa-star {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.icon-wrapper .fas.fa-star {
  color: #F5A623;
}
.icon-wrapper .fa-star.active {
  opacity: 1;
}
.icon-wrapper .new-pen .fa-pen {
  cursor: not-allowed;
}
.icon-wrapper .fa-star,
.icon-wrapper .fa-pen {
  font-size: 20px;
  cursor: pointer;
  color: #757575;
}
.icon-wrapper .pen {
  margin-left: 20px;
}
.icon-wrapper .fa-pen.active {
  color: #4A90E2;
}

.card-body {
  padding: 15px 50px 15px 80px;
  margin-top: 3px;
  background-color: #F2F2F2;
}
.card-body > div:not(:last-child) {
  margin-bottom: 20px;
}
.card-body h3 {
  position: relative;
  margin-bottom: 5px;
}
.card-body h3 i {
  position: absolute;
  left: -25px;
  top: 3px;
  bottom: 0;
  margin: auto 0;
  font-size: 18px;
}
.card-body .upload {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  text-align: center;
  cursor: pointer;
  background: #efefef;
}
.card-body .upload-input {
  display: none;
}
.card-body .upload-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  border-radius: 2px;
  background-color: #C8C8C8;
}
.card-body .input-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-body .input-wrapper input {
  width: 150px;
  margin: 0 5px 5px 0;
  padding: 5px 15px;
}
.card-body .input-wrapper input::placeholder {
  font-size: 14px;
  color: #C8C8C8;
}
.card-body .comment textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  resize: none;
}
.card-body .comment textarea::placeholder {
  color: #C8C8C8;
  font-size: 14px;
}

.todo-bar.active {
  background-color: #FFF2DC;
}

@keyframes open-edit-area {
  100% {
    height: fit-content;
  }
}
.todo-count {
  padding-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #C8C8C8;
}

/*# sourceMappingURL=main.css.map */
