$blue-100: #4A90E2;
$blue-200: #5197E7;
$blue-300:#00408B;
$red:#D0021B;
$yellow-100: #FFF2DC;
$yellow-200: #F5A623;
$grey-100:#FCFCFC;
$grey-200: #F2F2F2;
$grey-300: #E1E1E1;
$grey-400: #C8C8C8;
$grey-500: #757575;
$black:#000000;
$white: #ffffff;