header {
  background-color:  #4A90E2;
}

nav {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  .nav-item {
    width: 33.33%;
    max-width: 160px;
    padding: 25px 0;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #00408B;
    cursor: pointer;
    @media (min-width: 768px) {
      font-weight: 400;
      font-size: 24px;
    }
  }
  .nav-item.active {
    color: #ffffff;
    box-shadow: inset 0 -5px #00408B;
  }
}
