.button-cancel {
  color: #D0021B;
  background-color: #ffffff;
  &:hover {
    background-color: #FCFCFC;
  }
}

.button-confirm {
  color: #ffffff;
  background-color:  #4A90E2;
  &:hover {
    background-color: #5197E7;
  }
  i {
    pointer-events: none;
  }
}