.add-todo {
    width: 100%;
    height: 65px;
    font-size: 24px;
    padding: 0 30px;
    text-align: left;
    color: $grey-400;
    background-color: $white;
    border: 2px solid $grey-400;
    border-radius: 5px;
    margin-bottom: 20px;
}

.edit-area {
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.edit-area .task-bar:first-of-type {
    margin-top: 20px;
}

.edit-area.new-todo-edit-area {
    display: none;
    .card {
        display: block;
    }
}

.edit-area.new-todo-edit-area.active {
    display: block;
    .card {
        animation: open-edit-area 0.01s forwards;
    }
}

.card {
    display: none;
    height: 0;
}

.card.active {
    display: block;
    animation: open-edit-area 0.01s forwards;
}

.card-footer {
    display: flex;
    button {
        flex: 0 0 50%;
        height: 60px;
        font-size: 20px;
        border: none;
        i {
            margin-right: 15px;
        }
    }
    .buttonCancelAdd,
    .buttonCancelEdit {
        color: $red;
        background-color: $white;
        &:hover {
            background-color: $grey-100;
        }
    }
    .buttonConfirmAdd,
    .buttonConfirmEdit {
        color: $white;
        background-color: $blue-100;
        &:hover {
            background-color: $blue-200;
        }
    }
}

.todo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-right: 25px;
    margin-top: 5px;
    background-color: $grey-200;
    border-radius: 5px;
    label {
        display: flex;
        flex: 0.8;
        align-items: center;
        margin-left: 10px;
        .checkbox {
            zoom: 210%;
            border: none;
            margin: 0;
        }
        .checkbox:checked~input {
            color: $grey-500;
            text-decoration: line-through;
        }
        .todo-name {
            font-size: 20px;
            width: 100%;
            background-color: $grey-200;
            border: none;
            &::placeholder {
                color: $black;
                font-weight: 500;
            }
            &:focus::placeholder {
                font-size: 0;
            }
        }
        .todo-name.active {
            background-color: $yellow-100;
        }
    }
    .hint-icons {
        width: 100%;
        margin-left: 40px;
        margin-top: 10px;
        color: $grey-500;
        i:not(:first-of-type) {
            margin-left: 10px;
        }
        span {
            margin-left: 5px;
        }
    }
}

.new-todo .hint-icons {
    display: none;
}

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    position: relative;
    .fa-star {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .fas.fa-star {
        color: $yellow-200;
    }
    .fa-star.active {
        opacity: 1;
    }
    .fa-star,
    .fa-pen {
        font-size: 20px;
        cursor: pointer;
        color: $grey-500;
    }
    .pen {
        margin-left: 20px;
    }
    .fa-pen.active {
        color: $blue-100;
    }
}

.card-body {
    padding: 15px 50px 15px 80px;
    margin-top: 3px;
    background-color: $grey-200;
    >div:not(:last-child) {
        margin-bottom: 20px;
    }
    h3 {
        position: relative;
        margin-bottom: 5px;
        i {
            position: absolute;
            left: -25px;
            top: 3px;
            bottom: 0;
            margin: auto 0;
            font-size: 18px;
        }
    }
    .upload {
        display: inline-block;
        width: 32px;
        height: 32px;
        position: relative;
        text-align: center;
        cursor: pointer;
        background: #efefef;
    }
    .upload-input {
        display: none;
    }
    .upload-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        font-weight: bold;
        color: $white;
        font-size: 20px;
        line-height: 30px;
        border-radius: 2px;
        background-color: $grey-400;
    }
    .input-wrapper {
        display: flex;
        flex-wrap: wrap;
        input {
            width: 150px;
            margin: 0 5px 5px 0;
            padding: 5px 15px;
            &::placeholder {
                font-size: 14px;
                color: $grey-400;
            }
        }
    }
    .comment {
        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            border: none;
            resize: none;
            &::placeholder {
                color: $grey-400;
                font-size: 14px;
            }
        }
    }
}

.todo-bar.active {
    background-color: $yellow-100;
}

@keyframes open-edit-area {
    100% {
        height: fit-content;
    }
}

.todo-count {
    padding-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $grey-400;
}