section.version {
    display: flex;
    justify-content: space-around;
    margin: 30px auto 0px;
    text-align: center;
    max-width: 400px;
    a {
        display: inline-block;
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        background-color: $grey-500;
        color: $white;
        &:hover {
            background-color: $grey-400;
            color: $grey-500;
        }
    }
}